@model Evenement

@{
    ViewBag.Title = @Model.Nom;
}

<h2>@Model.Nom</h2>
@if (Model.ImagePath != null)
{
    <img src="~/images/evenements/@Model.ImagePath" alt="Image d'événement" />
}
<p>@Model.Description</p>
<ul>
    <li>Date: @Model.Date.ToShortDateString()</li>
    
    @{
        var classeBold = Model.Capacite > 1000 ? "fw-bold" : null;
    }
    <li class="@classeBold">Capacité: @Model.Capacite</li>
    <li>Prix: @Model.Prix</li>
    <li>Ville: @Model.Ville.Nom</li>
</ul>