@model Evenement

@{
    ViewBag.Title = Model.Nom;
}

<h1 class="mb-3">@Model.Nom</h1>

<div class="row">
    <div class="col-md-6">
        @if (@Model.ImagePath != null)
        {
            <img class="img-fluid img-thumbnail" src="~/images/evenements/@Model.ImagePath" />
        }
    </div>
    
    <div class="col-md-6">
        <p>@Model.Description</p>
        <p><strong>@Model.Prix$</strong></p>
        <ul class="list-unstyled small">
            <li>Date: @Model.Date.ToShortDateString()</li>
            <li>Capacité: @Model.Capacite places</li>
        </ul>
        
        <span class="badge text-bg-light">@Model.Ville!.Nom, @Model.Ville!.PaysIso</span>
        
        <form asp-controller="Panier" asp-action="Create">
            <input type="hidden" name="itemId" value="@Model.Id" />
            <div class="mb-3">
                <label for="quantite" class="form-label">Quantité</label>
                <input type="number" class="form-control" name="quantite" id="quantite" value="1" min="1" max="@Model.Capacite" />
            </div>
            <button class="btn btn-primary mt-5">Acheter un billet</button>
        </form>
    </div>
</div>